.cs-modal-wrap {
    position: absolute;
    top: 0;
    left: 150px;
    box-sizing: border-box;
    width: 800px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin: 100px;
    z-index: 9999;
    display: block;
}
.cs-modal {
    height: 400px;
}
.cs-closeBtn {
    font-size: 30px;
    float:right;   
}
.close-button:hover {
    color: rgb(83, 81, 81);
}
