/* header section */
.section-category {
    background-color: white;
    padding: 0 32px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1808px;
    margin: 0 auto;
}
.section-title,.section-control {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
}
.section-title {
    font-size: 23px;
    font-weight: 500;
}
.filterBtn-wrap:nth-child(1) {
    margin-right:30px;
}
.filterBtn-wrap {
    margin-right:10px;
}
.filterBtn {
    margin: 0 5px;
}   
.filterBtn:hover {
    color: #8d8d8d;
}
.ifilter,.neworder {
    font-size: 15px;
    vertical-align: middle;
}
/* 본문 전체 감싸는 영역 */
.category-wrap {
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    max-width: 1808px;
    margin: 0 auto;
}
/* 왼쪽 카테고리 네비 */
.left_navi_emp {
    width: 240.67px;
    height: 48px;
}
.left_navi {
    width: 240.67px;
}
.navi_inner,.navi_inner2{
    width: 210px;
}
.navi_inner2 {
    overflow: hidden;
    margin-bottom: 13px;
}
.border-top-title {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5; 
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 30px;
    float: left;
    width: 90%;
}
.toparrow {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    right: 12px;
    top: 22px;
}
.input-checkbox,.section-control {
    cursor: pointer;
}
.input-checkbox:hover {
    color: #8d8d8d;
}
.ckbox_wrap {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    padding-bottom: 17px;
    vertical-align: middle;
    clear:both;
} 
.ckbox_wrap:last-child {
    padding: 5px 0 40px 0;
}
.navi_color .color-wrap {
    float: left;
    width: 33.3%;
    text-align: center;
    line-height: 25px;
    padding-bottom: 20px;
}
.color-checkbox {
    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    cursor: pointer;
}
.color-border {
    border: 1px solid;
    border-radius: 17px;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* margin-bottom:10px; */
}
.beige {
    background-color: #f0e68c;
    border-color: #f0e68c;
}
.black {
    background-color: #000000;
    border-color: #000000;
}
.blue {
    background-color: #3786d5;
    border-color: #3786d5;
}
.brown {
    background-color: #765439;
    border-color: #765439;
}
.gold {
    background-color: #d5d603;
    border-color: #d5d603;
}
.gray {
    background-color: #737373;
    border-color: #737373;
}
.green {
    background-color: #0d9300;
    border-color: #0d9300;
}
.ssuk {
    background-color: #7f7f00;
    border-color: #7f7f00;
}
.navy {
    background-color: #3b4a75;
    border-color: #3b4a75;
}
.orange {
    background-color: #eb621e;
    border-color: #eb621e;
}
.pink {
    background-color: #ea008a;
    border-color: #ea008a;
}
.purple {
    background-color: #693cb1;
    border-color:#693cb1;
}
.red {
    background-color: #c40001;
    border-color: #c40001;
}
.white {
    background-color: #ffffff;
    border-color: #807c7c;
}
.yellow {
    background-color: #fcc300;
    border-color: #fcc300;
}
/* 컨텐츠 영역 */
.category-content {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}
.category-content li {
    height: 450px;
    width: 288px;
}
.category-content-img {
    width: 288px;
    height: 288px;
}
.category-content-price {
    width: 288px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    line-height: 23px;
    display: inline-block;
}
.ecoFriendly {
    display: inline-block;
    width: 208px;
    color: #AA8375;
    font-size: 15px;
    font-weight: 100;
}
.category-content-price .soldout {
    display: inline-block;
    width: 208px;
    color: #FD4D4D;
    font-size:14px;
    font-weight: lighter;
}
.category-content-info {
    float:left;
    width: 210px;
    cursor: pointer;
}
.ct-content-price {
    display: inline;
}
.category-content-detail {
    margin-top: 10px;
    line-height: 20px;
}
.content-sort {
    width: 205px;
}
.content-sort,.content-color {
    color: #8d8d8d;
}