.on {
  display: block !important;
}

.off {
  display: none;
}

/*  HEADER */
.header {
  background-color: #f5f5f5;
}

.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.menu-top__img {
  width: 20px;
  height: 24px;
}

.user-menu {
  display: flex;
}

.user-menu > li::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #333;
  position: absolute;
  top: 13px;
}

.user-menu a {
  font-size: 12px;
  padding: 0 10px;
}

.user-menu a:hover {
  color: #767575;
}

/*  SECTION__HEADER */
.gnv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.gnv__img {
  width: 70px;
  height: 28px;
}

.gnv__nav {
  display: flex;
}

.gnv__nav li {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.gnv-search {
  display: flex;
}

.search-form {
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
  border-radius: 100px;
  background: #f5f5f5;
}

.gnv-icons {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

/*  GNV-SUB */
.gnv-sub {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 60px;
  background: #fff;
  padding: 20px 0 38px 0;
}

.gnv-sub-box {
  display: flex;
  justify-content: space-evenly;
}

.gnv-list li {
  padding-bottom: 10px;
}

.gnv-list a {
  color: #767575;
}

.gnv-sub-box .locator-black {
  padding-bottom: 25px;
}

.locator-black a {
  color: #111;
}
