.modalWrap {
    position: absolute;
    top: 0;
    left: 150px;
    box-sizing: border-box;
    width: 600px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin: 100px;
    z-index: 9999;
    display: block;
}
.csModal {
    height: 400px;
}
.ModalHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color:whitesmoke;
    height: 20px;
    line-height: 20px;
}
.csRegister {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}
.cs-closeBtn {
    font-size: 30px;
    float:right;   
}
.close-button:hover {
    color: rgb(83, 81, 81);
}
.registerTable {
    width: 100%;
}
.registerTable .regRow {
    height: 30px;
    border-bottom: 1px solid;
    line-height: 20px;
}