.details-main {
  display: flex;
}

.detail-product {
  position: relative;
  max-width: 991px;
  width: calc(100% - 449px);
  padding: 0 54px;
  border: 3px solid tomato;
}

.detail-product-list {
  display: flex;
  flex-wrap: wrap;
}

.detail-product-list li {
  width: 50%;
}

.detail-product-list li img {
  width: 100%;
}

.detail-product-info {
  width: 449px;
  padding: 0 54px 0 10px;

  border: 3px solid yellowgreen;
}

/* DETAILS-FOOTER */
.details-footer {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid violet;
}
