.review-all {
    overflow-y: auto;
}
.review_product-wrap {
    position: fixed;
    top: 0;
    background-color: white;
    padding: 18px 45px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    -ms-overflow-style: none;
    z-index: 9999;
}
.review_product-wrap::-webkit-scrollbar{
    display: none;
}
.review_close-button {
    font-size: 33px;
    float: right;
    margin-right: 60px;
    margin-top: -10px;
}
.review_img-div {
    width: 60px;
    height: 64px;
    display: inline;
    float: left;
}
.review_product-img{
    width: 60px;
    height: 60px;
}
.mini-product-info {
    display: table-cell;
    width: 100%;
    margin: 0;
    padding-left: 10px;
    float: none;
    font-weight: 500;
    padding-top: 10px;
}
.info_tit {
    font-size: 13px;
    margin: 10px 0px 0px;

}
.info_price {
    font-size: 14px;
    display: block;
    margin-top: 15px;
}
.review_list-wrap {
    padding-top: 100px;
    width: 65%;
    margin-left: 17.5%;
}
.review_top {
    text-align: center;
    padding-top: 50px;
}
.star-txt {
    font-size: 25px;
    font-family: "Trade Gothic LT W01 Bd CnNo-20", "Apple SD Gothic Neo", "Noto Sans KR", "맑은 고딕", serif, Arial, Helvetica;
    margin-top: 20px;
}
.review_gage-wrap {
    height: 142px;
    margin-top:80px;
    
}
.grid-gage {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.gage-title {
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-align: left;
}
.value-gage {
    border-radius: 2px;
    border: 1px solid #E5E5E5;
    background: #e5e5e5;
    width: 100%;
    position: relative;
}
.value-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: -3.5px;
    
}
.value-box {
    display: block;
    margin-top: 10px;
}
.value-txtLeft {
    color: gray;
    font-size: 11px;
    float: left;
    margin-top: 10px;
}
.value-txtRight {
    color: gray;
    font-size: 11px;
    float: right;
    margin-top: 10px;
}
.review_sort {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.review_filter {
    width: 55px;
    border: 1px solid #E5E5E5;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;

}
.review_grid {
    height: 414px;
    border-top: 1px solid #e5e5e5;
    display: flex;
}
.review_grid_left {
    width: 80%;
    height: 383px;
    padding: 30px 10px 0px;
    text-align: left;
}
.review_grid_top {
    display: flex;
}
.fa-thumbs-up {
    margin-left: 20px;
    margin-top: -5px;
    font-size: 20px;
    cursor: pointer;
}
.review_subject {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
}
.customer-star i{
    font-size: 10px;
    margin-bottom: 20px;
}
.user-name, .write-date, .product-code {
    color: gray;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 10px;
}
.comment {
    font-size: 14px;
    position: relative;
    margin-top: 40px;
    line-height: 1.5;
    max-width: 520px;
}
.review-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.appending-img a{
    max-width: 200px;
    display: block;
}
.review-img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.customer_gage-wrap {
    width: 250px;
    height: 100%;
    float: right;
}
.customer_gage {
    margin-top: 40px;
}
.customer_gage-title {
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
    
}
.customer_value-box{
    width: 187px;
    height: 34px;
    margin: 10px;
}
.customer_value-gage {
    border-radius: 2px;
    border: 2px solid #E5E5E5;
    background: #e5e5e5;
    width: 100%;
    position: relative;
}
.customer_value-dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: -4.5px;
}
.customer_value-txtLeft {
    color: gray;
    font-size: 11px;
    float: left;
    margin-top: 10px;
}
.customer_value-txtRight {
    color: gray;
    font-size: 11px;
    float: right;
    margin-top: 10px;
}
#load-more {
    width: 100%;
    height: 40px;
    background: black;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 60px;
}
#load-more:hover {
    background: gray;
}
.clicked {
    border: 2px solid black;
    box-sizing: border-box;
}