.prd-register-back {
    background: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9998;
    display: none;
}

.prd-register-modal {
    position: absolute;
    top: 50px; 
    box-sizing: border-box;
    width: 850px;
    height: 70%;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    display: none;
    z-index: 9999;
    left: 39%;
    margin-left: -240px;
    overflow:auto;

}
.prd-register-modal::-webkit-scrollbar {
    width: 10px;
  }
.prd-register-modal::-webkit-scrollbar-thumb {
    background-color: #acabab;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
.prd-register-modal::-webkit-scrollbar-track {
    background-color: rgb(192, 190, 190);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

.prdRegHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 5px;
    padding: 0 5px;
}

.prRegister {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}

.prd_close-button {
    font-size: 30px;
    position: absolute;
    right:10px;
    border: none;
    background: none;
    cursor: pointer;
    top: 5px;
}

.open {
    display: block;
}

/*상품등록 모달창*/
.prd-container {
    display: grid;
    width: 800px;
    height: 90%;
    grid-template-columns: repeat(1, 800px);
    border-top: 2px solid lightgray;
    margin-top: 30px;
    margin-bottom: 40px;
}

.prd-item {
    border-bottom: 1px solid lightgray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 30px;

}

.prd-item .title {
    display: inline-block;
    width: 125px;
    height: 55px;
    border-right: 1px solid lightgray;
    background-color: whitesmoke;
    line-height: 44px;
    padding-left: 15px;

}

.wr {
    border: 1px solid gray;
    border-radius: 4px;
    width: 150px;
    height: 24px;
    position: relative;
    top: -2px;
    margin-left: 15px;
    outline: none;
}

.wr:focus { outline:none; }

.prdcd {
    border: 1px solid gray;
    border-radius: 4px;
    width: 150px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-left: 15px;
    outline: none;
}

.prdnm {
    border: 1px solid gray;
    border-radius: 4px;
    width: 350px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-left: 15px;
    outline: none;
}

.prdcl {
    border: 1px solid rgb(66, 64, 64);
    border-radius: 4px;
    width: 80px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-left: 10px;
}

.prdqty {
    border: 1px solid rgb(66, 64, 64);
    border-radius: 4px;
    width: 45px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-left: 10px;
    margin-right: 10px;
}

.rgDate {
    outline:none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

#add-file {
    width:500px;
    height: 25px;
    margin-left: 15px;
    outline: none;
}

.prdModal-register {
    border: 1px solid black;
    background: black;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px;
    float: right;

}

.prdModal-update {
    border: 1px solid black;
    background: black;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    margin: 15px;
    float: right;
} 

.rgBtn, .upBtn {
    display: none;
}

.rgBtn.stage {
    display: inline;
    margin-bottom: 15px;
    text-align: center;
}

.upBtn.stage1 {
    display: inline;
    margin-bottom: 15px;
    text-align: center;
}

.prdsummary{
    width:600px; height:40px; 

     border: 1px solid gray;
     border-radius: 4px;
     position: relative;
     top: -1px;
     margin-left: 15px;
     outline: none;
    }

.prdsub {
    border: 1px solid gray;
    border-radius: 4px;
    width: 200px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-left: 15px;
    outline: none;
}

.prd-price:invalid {
    border: 2px solid red;
}

.plus button{
    width: 22px;
    height: 22px;
    margin-left: 10px;
    background-color: white;
}

.minus{
    width: 22px;
    height: 22px;
    margin-left: 8px;
}
