.product-manage a:hover {
  background-color: skyblue;
  font-weight: bold;
}
.body__container {
  max-width: 1808px;
  margin: 0 auto;
}
.prd-title-txt {
    display: inline-block;
    padding: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
}
.dashboard-main {
    display: flex;
}
.dashboard-menu {
    width: 250px;
    padding: 0 20px;
}
.dashboard-menu-list {
    padding-top: 30px;
}
.dashboard-menu-list li {
    padding: 15px 0;
}
.right-content-wrap {
    width: 990px;
    padding: 0 20px;    
}
.dash-icon .fas,
.dash-icon .fab
{
  font-size: 18px;

  padding: 5px;
}


.prdList-title {
   padding-bottom: 30px;
}
.prd-txt
{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 25px;
  font-weight: 500;

  letter-spacing: 2px;
}


.prd-search-wrap
{
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

/* .prd-search{
  display: inline-block;
} */

.prd-search-bold {
  font-weight: bold;
}
.prd-count-wrap
{
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  margin-bottom: 15px;
}

.prd-tit-hr {
  width:100%;
  height: 4px;
  background-color: black;

  margin-top: 15px;
}

.selectPrd
{
  height: 25px;

  color: white;
  background-color: rgb(93, 176, 209);
}

.searchBox
{
  width: 150px;
  height: 23px;

  border: 2px solid rgb(93, 176, 209);
}

.srhBtnWrap
{
  position: relative;
  top: 1px;
  right: 25px;
}

.searchBtn {
  font-size: 15px;
}
.prdTotal
{
  font-size: 14px;

  padding-top: 30px;

  color: #5c5b5b;
}

.searchLimit
{
  height: 100%;
  margin-top: 10px;
}

.prd-listTable {
  margin-bottom: 10px;
}

table {
  width:100%;  
}
th {
  background-color: rgb(93, 176, 209);
  color: white;
  font-weight: bold;
}
table, th, td {
  border: 1px solid rgb(243, 243, 243);
  text-align:center;
}
.th-checkbox input {
  width:10px;
}
.nothing {
  padding:3px 0;
}

.prd-rgs-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.prd-register, .prd-delete
{
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  float: right;
  margin-right: 10px;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  margin: 0 5px;
  height: 25px;
  width: 50px;
  cursor: pointer;
}

/*보미언니 코드 따라해본것 변경해야함*/
.adminboard_filter {
  display: grid;
  height: 200px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 2fr 8fr;
}
.item {
  border: 1px solid #e5e5e5;
  padding: 10px;
  display: flex;
  align-items: center;
}
.itemL {
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
}

.search-word {
  border: 1px solid gray;
  border-radius: 6px;
  width: 200px;
  height: 22px;
  margin-left: 10px;
}

.date_input {
  width: 130px;
  height: 25px;
  border: 1px solid gray;
  margin: 0 15px;
  border-radius: 6px;
}

.top-search {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}
.search-button {
  border: 1px solid lightgray;
  background: #d3d3d3;
  color: black;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
}

.day {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  margin: 0 5px;
  height: 28px;
  width: 50px;
  cursor: pointer;
}
.day:hover {
  background: gray;
  color: white;
}

#wrapper {
  margin-top: 20px;
}

