
.section-title {
    font-weight: 700;
}
.tit_h1 {
  display: block;
  width: 120px;
}
.dashboard-main {
    display: flex;
  }
  
  .dashboard-menu {
    width: 250px;
    padding: 0 20px;
  }
  
  .dashboard-menu-list {
    padding-top: 30px;
  }
  
  .dashboard-menu-list li {
    padding: 15px 0;
  }
  
  .dash-icon .fas,
  .dash-icon .fab {
    font-size: 18px;
    padding: 5px;
  }

  .dashboard-main-right {
    width: 100%;
    min-width: 320px;
    padding-bottom: 30px;
  }
  .adreview_top {
    width: 100%;
    border-bottom: 2px solid gray;
  }
  .adminboard_tit {
    font-size: 22px;
    font-weight: 550;
    padding-bottom: 20px;
    display: block;
    width: 300px;
}
  .adminboard_filter {
    display: grid;
    height: 200px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 2fr 8fr;
  }
  .item {
    border: 1px solid #e5e5e5;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .itemL {
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
  }
  .adreview_star {
    margin-left: 15px;
    width: 130px;
    height: 25px;
    font-size: 18px;
    border-radius: 6px;
  }
  .review_filter {
    width: 130px;
    height: 25px;
    margin: 0 15px;
    border-radius: 6px;
  }
  .search-word {
    border: 1px solid gray;
    border-radius: 6px;
    width: 200px;
    height: 22px;
}
  .date_input {
    width: 130px;
    height: 25px;
    border: 1px solid gray;
    margin: 0 15px;
    border-radius: 6px;
}
  .search-button {
    position: absolute;
    border: 1px solid black;
    background: black;
    color: white;
    right: 10px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    top:270px;
    cursor: pointer;
  }.reset-button {
    position: absolute;
    border: 1px solid black;
    background: black;
    color: white;
    right: 100px;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    top:270px;
    cursor: pointer;
    
  }
  .search-button:hover, .reset-button:hover {
    background: gray;
    border: 1px solid gray;
  }
  .day {
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    margin: 0 5px;
    height: 28px;
    width: 50px;
    cursor: pointer;
  }
  .day:hover {
    background: gray;
    color: white;
  }
  #wrapper {
    margin-top: 50px;
  }
  .admin_write {
    text-align: right;
  }
  .write_button {
    background: lightgray;
    color: black;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 6px;
  }
  .write_button:hover {
    background: gray;
    color: white;
  }


  