.body__container {
    max-width: 1808px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .cstxt {
      display: inline-block;
      padding: 30px;
      font-family: 'Noto Sans KR', sans-serif;
      letter-spacing: 2px;
      font-size: 25px;
  }
  .dashboard-main {
      display: flex;
  }
  .dashboard-menu {
      width: 250px;
      padding: 0 20px;
      min-width: 110px;
  }
  .dashboard-menu-list {
      padding-top: 30px;
  }
  .dashboard-menu-list li {
      padding: 15px 0;
  }
  .adminCustomer {
      font-weight: bold;
  }
  .right-content-wrap {
      width: 990px;
      padding: 0 30px;    
  }
  .dash-icon .fas,
  .dash-icon .fab {
      font-size: 18px;
      padding: 5px;
  }
  .customer-list {
     display: flex;
     justify-content: space-between;
     padding: 15px;
  }
  .list-txt {
     font-family: 'Noto Sans KR', sans-serif;
     font-size: 25px;
     font-weight: 500;
     letter-spacing: 2px;
  }
  #divisionLine {
    width: 100%;
    background: black;
    border:1px solid;
    margin-bottom: 25px;
  }

  /* 고객 검색 */
  .search-customer {
    display: grid;
    width: 100%;
    height: 180px;
    align-items: center;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .search-customer select {
    height: 25px;
  }
  .search-option {
    height: 100%;
    line-height: 50px;
    padding-left: 8px;
    border: 1px solid #e5e5e5;
  }
  .search-option:nth-child(1),
  .search-option:nth-child(3),
  .search-option:nth-child(5) { 
    text-align: center;
    font-weight: bold;
  }
  .search-option:nth-child(2),
  .search-option:nth-child(4),
  .search-option:nth-child(6) { 
    grid-column: 2/6; 
  }
 
  .search-option:nth-child(2),
  .search-option:nth-child(6) {
    padding-left: 8px;
  }
  .searchText {
    width: 150px;
    height: 21px;
    border: 1px solid gray;
  }
  .regAndDel {
    float: right;
  }

  .regdel,
  .search-customerBtn {
    width: 60px;
    height: 28px;
    margin: 5px;
    background: black;
    border-radius: 5px;
    color: white;
    height: 23px;
    line-height: 21px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: none;
  }

  .search-customerBtn.resetBtn {
    background: white;
    border: 1px solid black;
    color: black;
  }
  .search-customerBtn.resetBtn:hover {
    background-color: whitesmoke;
  }

  .searchCs-btn {
    grid-column: 2;
    position: relative;
    left: 250px;
  }
  
  .regdel:hover,
  .search-customerBtn:hover {
    background: #5C5B5B;
  }

  .select-gender { width: 20px; }

  .memWrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
    display: none;
  }
  .memTotal {
    padding-top: 30px;
    color: #5C5B5B;
    font-size: 14px;
  }
  .searchLimit {
    margin-top: 10px;
    height:100%;
    float: right;
    z-index: 99;
  }
  .gradeWrap {
    margin-top: 30px;
    color: #5C5B5B;
    line-height: 25px;
    font-size: 14px;
  }
  .gradeTitle {
    font-weight: bold;
    font-size: 15px;
  }
  .gradeSubTitle { font-weight: bold; }

  .status-un { display: none; }