/* TOP MENU */
.admin-top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

/* SIDE MENU */
.order {
  display: flex;
}

.admin-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #105275;
  color: #fff;
  padding: 10px;
  width: 100px;
}

.admin-side-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
}

.admin-side-menu li::after {
  content: '';
  border-bottom: 1px solid rgba(187, 185, 189, 0.877);
  width: 100%;
  height: 4px;
}

.side-img,
.admin-side-menu a {
  padding-bottom: 15px;
  color: #fff;
  cursor: pointer;
}

/* CONTENT */

.admin-right {
  width: 100%;
  padding: 20px;
}

.order-search-wrap {
}

.order-search {
  display: grid;
  margin-bottom: 50px;
  border-top: 2px solid gray;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 300px;
  grid-auto-flow: column;
}

.f-title,
.order-items {
  line-height: initial;

  box-sizing: content-box;
  padding: 14px 24px;

  color: #000;
  border: 1px solid #e5e7eb;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #e5e7eb;
}

.f-title {
  text-align: center;
}

.order-num > input {
  height: 25px;
  color: #6b7280;
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px 0 0 #e5e7eb;
  width: 50%;
  border-radius: 4px;
}

.order-items select {
  margin-right: 10px;
}

.order-calender {
  border: 1px solid #e5e7eb;
  width: 15%;
}

.day-btn {
  font-size: 14px;
  border: 1px solid #d2d6dc;
  padding: 4px;
  background-color: #f9fafb;
  font-weight: 600;
  margin-right: 4px;
}

.order-buttons {
  display: flex;
  justify-content: center;
}

.order-btn {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 10px;
}

.order-search-btn {
  background-color: #000;
  color: #fff;
}

.order-reset-btn {
  border: 2px solid #6b7280;
  color: #000;
}
