/* ADMIN MENU COMMON */
.text-shadow {
  color: #032a32 !important;
  text-shadow: 0 1px 0 #126d7e, 0 -1px 0 #020e1f;
}

/* TOP MENU */
.admin-top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

/* SIDE MENU */
.dash {
  display: grid;
  grid-template-columns: 1fr 18fr;
}

.admin-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #105275;
  color: #fff;
  width: 100px;
}

.admin-side-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
}

.admin-side-menu li::after {
  content: '';
  border-bottom: 1px solid rgba(187, 185, 189, 0.877);
  width: 100%;
  height: 4px;
}

.side-img,
.admin-side-menu a {
  padding-bottom: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.dashboard-main {
  display: flex;
}

.dashboard-menu {
  width: 250px;
  padding: 0 20px;
}

.dashboard-menu-list {
  padding-top: 30px;
}

.dashboard-menu-list li {
  padding: 15px 0;
}

.dash-icon .fas,
.dash-icon .fab {
  font-size: 18px;
  padding: 5px;
}

.dashboard-status-list {
  width: 20%;
  padding: 10px;
  border: 3px solid #e5e5e5;
}

.dashboard-title {
  display: block;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.dashboard-main-right {
  width: 100%;
  min-width: 320px;
  padding-bottom: 30px;
}

.dashboard-status {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.status-li {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid #e5e5e5;
}

.dashboard-board {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.dashboard-board li {
  width: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.big-title {
  font-size: 30px;
  padding: 15px 0;
}

.canvas-wrap {
  width: 80%;
  margin: 40px auto;
}

.canvas-btns {
  display: flex;
  justify-content: center;
}

.canvas-btns button {
  margin: 10px;
}
