/*  COMMON  CSS */

a {
  text-decoration: none;
  color: #111;
  cursor: pointer;
}

input {
  width: 100px;
  border: none;
  background: transparent;
}

span {
  cursor: default;
}

.body__container {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: inherit;
  line-height: inherit;
}

.section {
  position: relative;
}

.section .inner {
  position: relative;
  max-width: 1808px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 38px 0 36px;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

.icon {
  padding: 0 10px;
}

.far,
.fas {
  font-size: 24px;
}

.on {
  display: block;
}

.off {
  display: none;
}

.hidden {
  overflow: hidden;
}

.clickNone {
  color: #ddd;
}
