<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>나이키. Just Do It. Nike.com</title>

    <!-- CSS 초기화 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
    />

    <!-- 경량화된 웹 폰트 사용(구글 폰트 => https://fonts.google.com/) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/9eb162ac0d.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/admin-orderMng.css" />
    <link rel="stylesheet" href="css/admin-board.css" />
    <link rel="stylesheet" href="css/admin-orderMng-popup.css" />

    <script th:inline="javascript">
      /*<![CDATA[*/
      const adInCart = '[[${inCart}]]';
      /*]]>*/
    </script>

    <script defer src="src/admin-orderMng.js"></script>
    <script defer src="src/admin-orderMng-grid.js"></script>
    <script defer src="src/admin-orderMng-popup.js"></script>

    <!-- noUiSlider 슬라이더 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"
      integrity="sha512-0Z2o7qmtl7ixxWcEQxxTCT8mX4PsdffSGoVJ7A80zqt6DvdEHF800xrsSmKPkSoUaHtlIhkLAhCPb/tkf78SCA=="
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.css"
      integrity="sha512-GfBcf4DnNHwnnhpzrx2q6r+5WT8ZaAHjv6VjAdUnyo/3+pNljzp78wKwgzOE5+T+wkXcD/AtneDBbIUCuZazyg=="
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/wnumb@1.2.0/wNumb.js"
      crossorigin="anonymous"
    ></script>

    <!-- Grid.js -->
    <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
    <script src="https://unpkg.com/gridjs-selection/dist/gridjs-selection.production.min.js"></script>

    <link
      href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />

    <!-- 우편번호검색 -->
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

    <!-- 페이지 공통 메뉴 불러오기 -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(function () {
        $('#admin-menu').load('comm-admin-menu.html');
      });
    </script> -->
  </head>
  <body>
    <div class="body__container">
      <!-- ORDER DETAIL POPUP START-->
      <div class="popup-back">
        <div class="or-popup">
          <div class="or-detail-title">
            <span>주문상세정보</span
            ><span class="or-close"><i class="fas fa-times"></i></span>
          </div>
          <div class="or-detail-info" th:each="adDOrder : ${adDOrder}">
            <span class="or-num" th:text="${adDOrder.orderCd}"></span
            ><span class="or-date" th:text="${adDOrder.orderDt}"></span>
          </div>
          <div class="or-wrap">
            <div class="or-title or-product">주문상품</div>
            <div class="or-title or-price">주문금액</div>
            <div class="or-title or-status">상태</div>
            <div class="or-title or-send">배송료</div>
            <div class="or-title or-songjang">송장번호</div>
            <div class="or-content content-product">
              <img
                src="img/210219_hp_p8_bg6.jpg"
                alt=""
                class="or-content-img"
              />
              <ul class="or-content-option">
                <li>
                  <span class="or-content-title"></span>
                </li>
                <li>
                  <span class="or-content-style">스타일 : CW1648-004</span>
                </li>
                <li><span class="or-content-size">사이즈 : 250</span></li>
                <li><span class="or-content-count">수량 : 1</span></li>
              </ul>
            </div>
            <div class="or-content content-price">199,000 원</div>
            <div class="or-content content-status">
              <select name="" id="">
                <option value="">입금대기</option>
                <option value="">입금확인</option>
                <option value="">배송완료</option>
                <option value="">구매확정</option>
                <option value="">취소요청</option>
                <option value="">교환요청</option>
                <option value="">환불완료</option>
                <option value="">교환완료</option>
              </select>
            </div>
            <div class="or-content content-send">2,500 원</div>
            <div class="or-content content-songjang">
              <input type="text" placeholder="송장번호" />
            </div>
          </div>

          <span class="or-section-title">결제정보</span>
          <div class="or-pay-info">
            <div class="or-pay or-pay-title">결제방식</div>
            <div class="or-pay or-content">무통장</div>
            <div class="or-pay or-pay-title">결제금액</div>
            <div class="or-pay or-content">8,000 원</div>
            <div class="or-pay or-pay-title">입금자명</div>
            <div class="or-pay or-content">김민정</div>
            <div class="or-pay or-pay-title">입금계좌</div>
            <div class="or-pay or-content">농협 123 123</div>
            <div class="or-pay or-pay-title">현금영수증</div>
            <div class="or-pay or-content">개인</div>
            <div class="or-pay or-pay-title">연락처</div>
            <div class="or-pay or-content">010-1234-1234</div>
          </div>

          <span class="or-section-title">주문정보</span>
          <div class="or-pay-info">
            <div class="or-pay or-pay-title">수령인</div>
            <div class="or-pay or-content">록시</div>
            <div class="or-pay or-pay-title">전화번호</div>
            <div class="or-pay or-content">010-1111-2222</div>
            <div class="or-pay or-pay-title">주소</div>
            <div class="or-pay or-content or-addr">
              <div class="postWrap">
                <input
                  type="text"
                  name="post"
                  class="write post"
                  placeholder="예)선유로 82"
                  readonly
                />
                <button type="button" class="postBtn">우편번호검색</button>
              </div>
              <div class="detailWrap">
                <input
                  type="text"
                  name="addrDetail"
                  class="write addrDetail"
                  placeholder="상세주소"
                  readonly
                />
                <input
                  type="text"
                  name="addrDetail2"
                  class="write addrDetail"
                  placeholder="나머지주소"
                />
              </div>
            </div>
            <div class="or-pay or-pay-title">배송메모</div>
            <div class="or-pay or-content or-memo">빠른배송 부탁</div>
          </div>
        </div>
      </div>
      <!-- ORDER DATAIL POPUP END-->
      <!-- ========== TOP MENU ========== -->
      <div class="admin-top-menu">
        <div class="admin-top-left">
          <span class="admin-menu-btn"><i class="fas fa-bars"></i></span>
          <span class="admin-menu-title">Nike 관리자</span>
        </div>
        <div class="admin-top-right">
          <span class="admin-time">00:00</span>
          <button class="admin-login">login</button>
        </div>
      </div>
      <section class="section order">
        <!-- ========== SIDE MENU ========== -->
        <ul class="admin-side-menu">
          <li>
            <span class="side-img"><i class="fas fa-home"></i></span
            ><a href="">대시보드</a>
          </li>
          <li>
            <span class="side-img"><i class="fas fa-gift"></i></span
            ><a href="">상품관리</a>
          </li>
          <li>
            <span class="side-img"><i class="fas fa-shopping-cart"></i></span
            ><a href="">주문관리</a>
          </li>
          <li>
            <span class="side-img"><i class="fas fa-user-cog"></i></span
            ><a href="">고객관리</a>
          </li>
          <li>
            <span class="side-img"><i class="fas fa-keyboard"></i></span
            ><a href="">게시판관리</a>
          </li>
        </ul>
        <!-- ========== CONTENTS ========== -->
        <div class="admin-right">
          <span class="admin-content-title adminboard_tit">주문관리</span>
          <div class="order-search">
            <div class="or-search or-pay-title">주문번호</div>
            <div class="or-pay or-content order-num"><input type="text" /></div>
            <div class="or-search or-pay-title">기간</div>
            <div class="or-pay or-content">
              <select name="" id="">
                <option value="">결제일</option>
                <option value="">발송일</option>
                <option value="">주문완료일</option>
              </select>
              <input class="order-calender date-start" type="date" required />
              ~
              <input class="order-calender date-end" type="date" required />
              <a class="day-btn day-today">오늘</a
              ><a class="day-btn day-three">7일</a
              ><a class="day-btn day-month">1개월</a>
            </div>
            <div class="or-search or-pay-title">상품코드/명</div>
            <div class="or-pay or-content order-num"><input type="text" /></div>
            <div class="or-search or-pay-title">금액조건</div>
            <div class="or-pay or-content or-pay-price">
              <div id="slider"></div>
              <div id="slider-value"></div>
            </div>
          </div>
          <div class="order-buttons">
            <input
              class="order-btn order-search-btn"
              type="submit"
              value="검색"
            />
            <input class="order-btn order-reset-btn" type="reset" />
          </div>
          <div id="wrapper"></div>
        </div>
      </section>
    </div>
  </body>
</html>
