<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>나이키. Just Do It. Nike.com</title>
 
    <!-- CSS 초기화 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
    />

    <!-- 경량화된 웹 폰트 사용(구글 폰트 => https://fonts.google.com/) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap">

    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/comm-header.css" />
    <link rel="stylesheet" href="css/comm-footer.css" />
    <link rel="stylesheet" href="css/admin-customer.css" />
    <link rel="stylesheet" href="css/admin-customer-modal.css" /> 
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/9eb162ac0d.js"
      crossorigin="anonymous"
    ></script>

    <script th:inline="javascript">
      /*<![CDATA[*/
      const customer = '[[${customer}]]'
      /*]]>*/
    </script>
     
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
      $(function () {
        $('#admin-menu').load('comm-admin-menu.html')
      })
    </script>
    
    <script defer src="src/admin-customer-grid.js"></script>
    <script defer src="src/admin-customer.js"></script>
    <script defer src="src/comm-validate.js"></script>
    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
    <script src="https://unpkg.com/gridjs-selection/dist/gridjs-selection.production.min.js"></script>
    
  </head>
  <body>
    <div class="body__container">  
      <div id="header"></div>
       <!-- ========== CONTENTS ========== -->
       <section class="section dashboard">
        <div class="section-category">
          <div class="section-title">
            <a href="#"><span class="cstxt">고객관리<span></a>
          </div>
        </div>
        <div class="dashboard-main">
          <div class="dashboard-menu">
            <ul class="dashboard-menu-list">
              <li>
                <span class="dash-icon"><i class="fas fa-chart-line"></i></span
                ><a href="#">대시보드</a>
              </li>
              <li>
                <span class="dash-icon"><i class="fas fa-dollar-sign"></i></span
                ><a href="#">상품관리</a>
              </li>
              <li>
                <span class="dash-icon"
                  ><i class="fas fa-shopping-basket"></i></span
                ><a href="#">주문관리</a>
              </li>
              <li>
                <span class="dash-icon"><i class="fab fa-intercom"></i></span
                ><a href="#" class="adminCustomer">고객관리</a>
              </li>
              <li>
                <span class="dash-icon"><i class="fas fa-headset"></i></span
                ><a href="#">게시판관리</a>
              </li>
            </ul>
          </div>
            <!-- ======= RIGHT CONTENT ======= -->
            <div class="right-content-wrap">
              <div class="customer-list">
                  <div class="list-txt">고객 목록</div>
              </div>
              <div id="divisionLine"></div>
              <!-- ======= 고객 검색 ======= -->
              <form name="searchCs" class="search-customer">
                <div class="search-option">검색어</div>
                <div class="search-option">
                  <select name="">
                    <option value="">이름</option>
                    <option value="">이메일</option>
                    <option value="">전화번호</option>
                  </select>
                  <input type="text" class="searchText"></input>
                  
                </div>
                <div class="search-option">성별</div>
                <div class="search-option">
                  <input type="radio" name="searchGender" class="select-gender" value="both" checked>전체
                  <input type="radio" name="searchGender" class="select-gender" value="man">남
                  <input type="radio" name="searchGender" class="select-gender" value="woman">여
                </div>
                <div class="search-option">등급</div>
                <div class="search-option">
                  <select name="searchGrade">
                    <option value="FAMILY">FAMILY</option>
                    <option value="SILVER">SILVER</option>
                    <option value="GOLD">GOLD</option>
                    <option value="VIP">VIP</option>
                  </select>
                </div>
                <div class="searchCs-btn">
                  <input type="submit" class="search-customerBtn" value="찾기"></input>
                  <input type="reset" class="search-customerBtn resetBtn" value="초기화"></input>
                </div>
              </form>

              <div id="wrapper"></div>

              <div class="regAndDel">
                <button type="button" class="regdel registerBtn">등록</button>
                <button type="button" class="regdel deleteBtn">삭제</button>
              </div>
              
              <div class="memWrap">
                <div class="memTotal">[총 회원 수 50명]  검색결과 50건</div>
                <div class="searchLimitWrap">
                  <select name="searchLimit" class="searchLimit">
                    <option value="5">5건씩보기</option>
                    <option value="10">10건씩보기</option> 
                    <option value="15">15건씩보기</option> 
                    <option value="20">20건씩보기</option>  
                  </select>
                </div>
              </div>
              
              <p class="gradeWrap">
                <span class="gradeTitle">[ 등급 조건 및 혜택 ]</span><br/>
                <span class="gradeSubTitle">FAMILY</span> 가입즉시, 1%적립, 무료배송 쿠폰1매 발행<br/>
                <span class="gradeSubTitle">SILVER</span> 3개월 구매금액 200,000원 충족시, 2%할인<br/>
                <span class="gradeSubTitle">GOLD</span> 3개월 구매금액 500,000원 충족시, 3%할인<br/>
                <span class="gradeSubTitle">VIP</span> 3개월 구매금액 1,000,000원 충족시, 5%할인, 무료배송
              </p>
            </div>
        </div> <!-- dashboard-main-->
      </section>
    </div>
    <div class="modalWrapper">
      <div class="csModal">
        <div class="ModalHeader">
          <span class="csRegister">고객 등록</span>
          <a class="csCloseBtn">&times;</a>
        </div>
        
        <form action="#" method="post" name="registerForm" class="rg-container" id="reg_form">
          <div class="rg-item">
            <span class="title">이름 *</span>
            <input type="text" name="name" class="write name">
          </div>
          <div class="rg-item">
            <span class="title">이메일 *</span>
            <input type="text" name="email" class="write email">
          </div>
          <div class="rg-item">
            <span class="title">비밀번호 *</span>
            <input type="text" name="password" class="write password">
          </div>
          <div class="rg-item">
            <span class="title">전화번호 *</span>
            <input type="text" name="phone" class="write phone" placeholder="&nbsp;'-'없이 입력">
          </div>
          <div class="rg-item">
            <span class="title">성별 *</span>
            <select name="" class="write gender">
              <option value="gender all">전체</option>
              <option value="gender man">남자</option>
              <option value="gender woman">여자</option>
            </select>
          </div>
          <div class="rg-item">
            <span class="title">생년월일</span>
            <input type="date" name="bday" class="write bday" min="1900-01-01" max="2022-01-01">
          </div>
          <div class="rg-item">
            <span class="title addrTitle">주소</span>
          </div>
          <div class="rg-item addrSub">
            <div class="postWrap">
              <input type="text" name="post" class="write post" placeholder="예)선유로 82" readonly>
              <button type="button" class="postBtn">우편번호검색</button>
            </div>
            <div class="detailWrap">
              <input type="text" name="addrDetail" class="write addrDetail" placeholder="상세주소" readonly>
              <input type="text" name="addrDetail2" class="write addrDetail" placeholder="나머지주소">
            </div>
          </div>
          <div class="rg-item">
            <span class="title">등급</span>
            <select nmae="grade" class="write grade">
              <option value="family" selected>Family</option>
              <option value="silver">SILVER</option>
              <option value="gold">GOLD</option>
              <option value="VIP">VIP</option>
            </select>
          </div>
          <div class="rg-item">
            <span class="title">상태</span>
            <select name="status" class="write status">
              <option value="normal">정상</option>
              <!-- 수정창에서만 보임 -->
              <option value="dormant" class="status-un">휴면</option>
              <option value="withdrawal" class="status-un">탈퇴</option>
            </select>
          </div>
          <div class="rg-item">
            <span class="title">가입날짜</span>
            <span class="joinDate"></span>
          </div>
          <div class="rg-item">
            <span class="title">수정날짜</span>
            <span class="updateDate"></span>
          </div>
          <div class="rg-item memoWrap">
            <span class="title memoTitle">메모</span>
            <textarea name="memo" class="write memo"></textarea>
          </div>
          <p class="requiredText">* 필수 입력</p>
          <div class="rg-item csCheck">
            <div class="reAndSub">
              <button type="reset" class="modal-last reset">다시쓰기</button>
              <input type="submit" class="modal-last submit" value="등록"></input>
            </div>
            <!-- 수정창에서만 보임 -->
            <div class="updateWrap">
              <button type="button" class="modal-last update">수정</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </body>
</html>
    