<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="nike.shoppingmall.repository.DetailRepository">
    <select id="findAll" resultType="detail">
        SELECT PRD_SUBTITLE as subtitle, PRD_PRICE as price, PRD_NM as name
        FROM msproduct
    </select>
</mapper>